
body {
    width: 100%;
    min-height: 100vh;
}


.musicalScore {
    margin-top: 1em;
}

.musicalScore::before {
    content: ' \1F3BC  \0020';
}


.musicalNote::before {
    content: ' \1F3B5 \0020';
}

.musicalScore + div {
    padding: 0 2em;
}




.star-item {
    margin-top: 1em;
}


.program::before {
    content: '\2764 \0020';
    font-size: 0.8em;
    position: relative;
    bottom: 0.2em;
}

.ms-6 {
    padding-left: 4em;
}

.active {
    color: black;
    background-color: rgb(200, 200, 200);
}

.color1 {
    color: rgba(109, 91, 223, 1);
}

.color2 {
    color: rgba(255, 99, 71, 1);
}

.color3 {
    color: rgb(63, 191, 191);
}


.divider {
    text-align: center;
    margin: auto;
}


.layout-c-32 {
    width: 32%;
    max-width: 510px;
    min-width: 300px;
    margin: 0 auto;
}


.layout-c-60 {
    width: 60%;
    margin: 0 auto;
}

.layout-c-45 {
    width: 45%;
    margin: 0 auto;
}




/* background-color */
.bg-color-bookpage {
    background-color: #f2dcb1 ;
}

.bg-color-dark {
    /* 
    background-color: #3a3c3d;  
    */
    background-color: #1e222a; 
}

.bg-color-book1 {
    background-color: rgba(255, 235, 187, .5);
}

.bg-color-book2 {
    background-color: rgba(255, 235, 187, .2);
}

.bg-color-white {
    background-color: white;
}

.bg-color-for-dark {
    background-color: #3beba2;
}

/* for word/word2 in heartsutra_yuanying */
.bg-color-bbe4e9 {
    background-color: #bbe4e9;
}

.color-dc2f2f {
    /* color: #c24d2c; 
    color: #247291; */
    color: #dc2f2f;
}

.color-light {
    /* color: #e6f0e3; */
    /*
    color:  #d2d5d8;
    */
    color: #ccd0cc;
}

.stretch-100 {
    height: 100%;
    position: relative;
}

div.quote_block {
    padding-top: 30px;
    clear: both;
}

/*
div.quote_block div:nth-child(2) {
    border: solid 1px black;
}
*/


/*
div.quote_block div:nth-child(1)::before {
    content: "\27A5";
    float: left;
}
*/

div.quote_block .arrow {
    padding-right: 15px;
}

div.quote_block > div:nth-child(1)::before {
    content: "\27AB";
    padding-right: 1em;
}



/* English text||quotes  */
div.quote_block div.text {
    clear: both;
}

/* Chinese text||quotes inside div.quote_header */
/*
div.quote_block .quotes {
    font-weight: bold;
}
*/

/* applies to both En and Ch */
div.quote_block div.comments {
    padding-top: 5px;  
    color: rgb(63, 191, 191);
    clear: both;
}



sup {
    font-size: 0.5em;
}


.info {
    float: right;
    font-style: italic;
}

.info_zh {
    float: right;
    font-size: 0.95em;
    padding-right: 2em;
}


.list-group {
    display: inline-block;

}


/* collections  */

.gap-0_6 > div {
    margin: .6em;
}

/* unicode */
/* unicode-table.com */
.uni-horse::before {
    content: '\265E \0020';
    color: green;
}


.star-item::before {
    content: '\272F \0020';
    color: purple;
}

.star-item + div {
    padding: 0 2em;
}



/* margin */
.indent-1em > p {
    margin-left: 1em;
}

.indent-1em > div {
    margin-left: 1em;
}

/* gap */

.divGap-1_2em > div {
    margin-bottom: 1.2em;
}

.divGap-0_8em > div {
    margin-bottom: 0.8em;
}

/* border */
.bd-notes {
    border: 2px #ffc107  dashed;
    border-radius: 5px;
    padding: 1em;
}


/* gap between divs under #lecture_text */
/*
#lecture_text > div + div {
    margin-bottom: 1.2em;
}
*/


.m-1_2em {
    margin-bottom: 1.2em;
}

.l-height-2 {
    line-height: 2em;
}

.f-size-1_6 {
    font-size: 1.6em;
}

.f-weight-600 {
    font-weight: 600;
}

.f-right-rel {
    float: right;
}

.lecture_title {
    font-size: 3em;
    color: #e85b48;
}

.lecture_title2 {
    font-size: 2em;
    color: #e85b48;
}

.c-darkblue {
    color: darkblue;
}

.clear-lr {
    clear: both;
}


.scripture {
    color: rgb(63, 191, 191); 
    /* color: #22cc00; */
}

.annotation {
    border-left: 1px dashed black;
}


sup {
    font-size: small;
}

span.word {
    text-decoration: underline wavy purple;
    text-underline-offset: 2px;
}

span.word2 {
    text-decoration: underline wavy #ff347f;
    text-underline-offset: 2px;
}


.highlight {
    background-color: rgba(255, 170, 165, .5);

}

.f-size-1_1{
    font-size: 1.1em;
}




