
.star-item::before {
    content: '\272F \0020';
    color: purple;
}

.program::before {
    content: '\2764 \0020';
    font-size: 0.8em;
    position: relative;
    bottom: 0.2em;
}

.ms-6 {
    padding-left: 4em;
}

.active {
    color: black;
    background-color: rgb(200, 200, 200);
}

.color1 {
    color: rgba(109, 91, 223, 1);
}

.color2 {
    color: rgba(255, 99, 71, 1);
}


.divider {
    text-align: center;
    margin: auto;
}


div.display {
    width: 32%;
    max-width: 510px;
    min-width: 300px;
    margin: 0 auto;
}


div.quote_block {
    padding-top: 30px;
    clear: both;
}

/*
div.quote_block div:nth-child(2) {
    border: solid 1px black;
}
*/


/*
div.quote_block div:nth-child(1)::before {
    content: "\27A5";
    float: left;
}
*/

div.quote_block .arrow {
    padding-right: 15px;
}



/* English text||quotes  */
div.quote_block div.text {
    clear: both;
}

/* Chinese text||quotes inside div.quote_header */
/*
div.quote_block .quotes {
    font-weight: bold;
}
*/

/* applies to both En and Ch */
div.quote_block div.comments {
    padding-top: 5px;  
    color: rgb(63, 191, 191);
    clear: both;
}



sup {
    font-size: 0.5em;
}


div.quote_block .info {
    float: right;
    font-style: italic;
}


small {
    float:right;
    padding-right: 4em;
}

.list-group {
    display: inline-block;

}


/* collections  */

.lecture_title {
    gap: 1em;
}

.lecture_body {
    gap: 1em;
}

/*
.lecture_title > * {
    border: solid 1px black;
}
*/

.lecture_title .title {
    font-size: 3em;
    color: coral;
}

.subtitle {
    margin-bottom: 5px;
    clear: both;
    color: darkblue;
}

.scripture {
    color: rgb(63, 191, 191);
}

.annotation {
    padding-left: 2em;
    border-left: 1px dashed black;
}


sup {
    font-size: small;
}

span.word {
    text-decoration: underline wavy purple;
    text-underline-offset: 2px;
}

span.word2 {
    text-decoration: underline wavy #ff347f;
    text-underline-offset: 2px;
}



button#btn {
    font-size: 25%;
}






