
{% extends "base.html" %}

{% block content %}

    <!--
    <div class="container-fluid layout-c-32 mt-3 bg-color-bookpage stretch-100">
        <div id="heartsutra">
            <h4>Religion</h4>
        </div>

    </div>
    -->


    <div class="container-fluid layout-c-32 mt-3 bg-color-bookpage stretch-100">

        <div id="constitution101">
            <h4>US Constitution 101</h4>
        </div>


    </div>

    <div class="container-fluid layout-c-32 mt-3 bg-color-bookpage stretch-100">

        <div id="philosophy">
            <h4>Philosophy</h4>
        </div>


    </div>

    {% for page in pages %}
        {% if page.path.startswith('collection') %}
            <script>
                var newItem = $("<div></div>", {"class": "c-body-item"})
                $("<a href= {{ url_for('page', path=page.path) }}>  {{ page.title }}   </a> ").appendTo(newItem)

                var cat = '{{ page.category }}'

                if ( cat == 'heartsutra' ) {
                    $("<span></span>", {
                        "class": "info_zh",
                        text: "[{{page.author}}]"
                    }).appendTo(newItem)
                    $("#heartsutra").append(newItem)
                } else if (cat == 'constitution101') {
                    $("<span></span>", {
                        "class": "info",
                        text: "[{{page.author}}]"
                    }).appendTo(newItem)
                    $("#constitution101").append(newItem)
                } else if (cat == 'philosophy') {
                    $("<span></span>", {
                        "class": "info",
                        text: "[{{page.author}}]"
                    }).appendTo(newItem)
                    $("#philosophy").append(newItem)
                }
            </script>
        {% endif %}
    {% endfor %}

{% endblock %}









