
{%extends "base.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <p class="mb-5">While we don't have any campus buildings, granduation ceremonies, sports teams and so on to display on the homepage yet, we hope you won't be disappointed at our collections of Suntzu's stories and quotes.</p>

        <h4 class="mb-3">Sun Tzu and his book - 'The Art of War'</h4>
        <ul class="mb-5">
            <li class="clearfix mb-3">
                <img src="static/sun100.jpg" class="img-fluid float-start me-5"> <p>Sun Tzu was a Chinese general, military strategist, writer, and philosopher who lived in the Eastern Zhou period of ancient China. Sun Tzu is traditionally credited as the author of The Art of War. His works focus much more on alternatives to battle, such as stratagem, delay, the use of spies and alternatives to war itself, the making and keeping of alliances, the uses of deceit, and a willingness to submit, at least temporarily, to more powerful foes.</p>
            </li>
            <li class="clearfix mb-3">     
                <img src="static/art_of_war.jpg" class="img-fluid float-start me-5" alt="">
                <p>The Art of War (Chinese: 孫子兵法) is an ancient Chinese military treatise dating from the Late Spring and Autumn Period (roughly 5th century BC). </p>
            </li>
        </ul>

        <h4 class="mb-3">Sun Tzu quotes</h4>
        <div class="d-grid mb-5">
            <div class="p-2 bg-light">"Regard your soldiers as your children, and they will follow you into the deepest valleys; look on them as your own beloved sons, and they will stand by you even unto death."</div>
            <div class="p-2">"Be extremely subtle, even to the point of formlessness. Be extremely mysterious, even to the point of soundlessness. Thereby you can be the director of the opponent's fate."</div>
            <div class="p-2 bg-light">"He will win who knows when to fight and when not to fight."</div>
            <div class="p-2">"Know your enemy and know yourself and you can fight a hundred battles without disaster."</div>
            <div class="p-2 bg-light">"Quickness is the essence of the war."</div>
        </div>





    </div>



{% endblock %}
