
{%extends "base.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="mb-5 indent-1em divGap-1_2em  dividerInside">
            <h4 class='mb-3'>Belief Reconstruction:</h4>
            <div>
            There is a belief crisis going on among Chinese people. On the one hand, most of Chinese people have lost or given up Chinese traditional cultures; on the other hand, they refuse to adopt new beliefs, especially Christianity. 
            </div>
            <div>
            While we Chinese people are lucky to have numerous great ancestors and their words as our spiritual heritage throughout the history, more and more people are ignorant of them nowadays. Worse than that, people usually tend to have negative opinions about our ancestors and their words even though most of them acknowledge that they have read little of our ancestor's words. This is something called cultural collapse which only leads to the disintegration of Chinese nation in the end.
            </div>

            <div>It's urgent to preach the gospel of Jesus Christ into mainland China as well. In the history, there're multiple Christian missionaries coming to China to preach the gospel, such as James Hudson Taylor who founded China Inland Mission. However, the political situation after 1949 in mainland China made the preaching almost impossible. Most of Christian missionaries like China Inland Mission had to leave permanently. We've seen how Christianity gracefully works in believer's personal lives and throughtout civil societies and we don't want mainland China become abandoned by God.</div>

            <div>
                There're so much to do in regards to belief construction, enlightenment, and gospel preaching in mainland China.
                We are to be lit, day and night, until our nation wakes up.
            </div>

            <div class="divider"></div>

            <div class='musicalNote'>
                神，請你幫助我們漢族的眾多同胞早日從沉淪中甦醒，睜開眼睛看見你，打開心扉聆聽你，接受你慈悲的恩惠，赦免舊日的罪過，鳳凰涅槃徹底重生，在你的關愛下做正直的人。 
            </div>

            <div class='musicalNote'>
                我們會保護好我們的正體文字、各地語言、傳統文化、人文精神、每一位國人、居住的土地、飲用的河流，更重要的是，我們要做你的子民，聆聽你的教誨，共享你的恩典。

               Amen. 

            </div>

        </div>

        <div class='mb-5 indent-1em divGap-1_2em'>
            <h4 class='mb-3'>A Proposal for Future of China:</h4>

            <div class='indent-1em'> 
                <h6 class='uni-horse'>
                Free China Roadmap / ＜自由中國路線圖＞: 
                </h6>

                <div>
                各省制憲、獨立自治－＞自願選擇共和聯邦；
                </div>
                <div>
                杜絕任何極權、民族主義。
                </div>

            </div>


            <div class='indent-1em'> 
                <h6 class="uni-horse">
                Commitments regarding Provincial Autonomy / ＜中國各省自治公約＞:
                </h6>
                <div>
                十年續更，剿滅共產，嚴禁省際戰爭。
                </div>

                <div>
                參照美國獨立宣言
                </div>

            </div>
        </div>


        <div class="mb-3 indent-1em">
            <h4 class="mb-3">About Sun Tzu:</h4>

            <ul class="mb-5">
                <li class="clearfix mb-4">
                    <img src="static/sun100.jpg" class="img-fluid float-start me-5"> <p>Sun Tzu was a Chinese general, military strategist, writer, and philosopher who lived in the Eastern Zhou period of ancient China. Sun Tzu is traditionally credited as the author of The Art of War. His works focus much more on alternatives to battle, such as stratagem, delay, the use of spies and alternatives to war itself, the making and keeping of alliances, the uses of deceit, and a willingness to submit, at least temporarily, to more powerful foes.</p>
                </li>
                <li class="clearfix mb-4">     
                    <img src="static/art_of_war.jpg" class="img-fluid float-start me-5" alt="">
                    <p>The Art of War (Chinese: 孫子兵法), written by Suntzu, is an ancient Chinese military treatise dating from the Late Spring and Autumn Period (roughly 5th century BC). </p>
                </li>
                
                <li indent-1em>    <h6>  Sun Tzu quotes </h6> 
                    <div class="d-grid ">
                        <div class="p-2 bg-light">"Regard your soldiers as your children, and they will follow you into the deepest valleys; look on them as your own beloved sons, and they will stand by you even unto death."</div>
                        <div class="p-2">"Be extremely subtle, even to the point of formlessness. Be extremely mysterious, even to the point of soundlessness. Thereby you can be the director of the opponent's fate."</div>
                        <div class="p-2 bg-light">"He will win who knows when to fight and when not to fight."</div>
                        <div class="p-2">"Know your enemy and know yourself and you can fight a hundred battles without disaster."</div>
                        <div class="p-2 bg-light">"Quickness is the essence of the war."</div>
                    </div>
                </li>

            </ul>





        </div>







    </div>





    <script>

        /* HTMLElement.offsetWidth returns the layout width of an element as an integer.  */
        /* Typically, offsetWidth is a measurement in pixels of the element's CSS width, including any borders, padding, and vertical scrollbars. */
        function countPaws() {
            const divDisplay = document.querySelector("div.dividerInside");
            let wd = divDisplay.offsetWidth;
            wd = Math.floor(wd / 24);
            console.log(wd);
            return wd;
        }

        function drawPaws(item) {
            let num = countPaws();
            for (let i=0; i< num; i++) {
                item.innerHTML += "<span>&#128062;</span>" ;
            }
        }


        function drawDividers() {
            const arr = document.querySelectorAll(".divider");
            for (let divider of arr) {
                drawPaws(divider);
            }
        }

        drawDividers();

    </script>



{% endblock %}
