
{% extends "base.html" %}

{% block content %}

    <div class="layout-c-32">

    <div id="t"></div>



    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>19</sup> "Do not accumulate for yourselves treasures on earth, where moth and devouring insect destroy and where thieves break in and steal. <sup>20</sup> But accumulate for yourselves treasures in heaven, where moth and devouring insect do not destroy, and thieves do not break in and steal. <sup>21</sup> <span class="color2"> For where your treasure is, there your heart will be also. </span><br>
            </div>
            <div class="comments"> 財富存世間，心屬世間；財富存天堂，心屬天堂。 <br>
            活在世間，如何積累在天堂的財富？</div>

            <div class="text">
                <sup>24</sup> "No one can serve two masters, for either he will hate the one and love the other, or he will be devoted to the one and despise the other. <span class="color2"> You cannot serve God and money. </span>           
            </div>

            <div class="comments">  
                上帝與金錢，只能擇一事奉。若敬上帝，則鄙金錢；若愛金錢，則恨上帝。
            </div>
            <div class="info">Matthew 6:19-24</div> 
        </div>
    </div>
    
    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>21</sup> "For although they knew God, they did not glorify him as God or give him thanks, but they became futile in their thoughts and their senseless hearts were darkened.
            </div>
            <div class="info">Romans 1:21</div> 

            <div class='color1 clear-lr pt-3'>
                因為，他們雖然知道神，卻不當作神榮耀他，也不感謝他。他們的思念變為虛妄，無知的心就昏暗了。[和合本]
            </div>

            <div class="comments mt-2"> 他們知道神存在，卻不敬畏或感恩神，於是他們的精神變得荒蕪，愚鈍的心愈加沉淪晦暗。[大樹]</div>
        </div>
    </div>



    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes">  有子曰：＂其為人也孝弟，而好犯上者，鮮矣；不好犯上，而好作亂者，未之有也。君子務本，本立而道生。孝弟也者，其為仁之本與！＂ </div>      
                <div class='info_zh'>  學而二 </div>
            </div>
            <div class="comments"> 若仁是先人後己、成全他人，則行仁先從身邊的父母[孝]、兄長[弟]做起。由近及遠。
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes">  子曰：＂君子不重則不威，學則不固。主忠信，無友不如己者，過則勿憚改。＂ </div>      <div class='info_zh'>  學而八 </div>
            </div>
            <div class="comments"> 君子因其如切如磋、如琢如磨的厚重積淀而受人仰視(distinguished, authority in one's appearance or manner)；如無厚重積淀，學問不會扎實。行事當以忠信為標準。身邊的朋友都有自己可以學習的閃光點。有了過失，勇於更正。
            </div>
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes">  子曰：＂攻乎異端，斯害也已。＂</div>       <div class='info_zh'>  為政十六 </div> 
            </div>

            <div class="comments">
                盲目批判 [排斥] 不同 [立場] 的觀點，會反受其害。 <br>
                對己，失去兼容並蓄、見賢思齊的機會；對人，沒有仁愛包容，也會招致別人的批判排斥。 <br>
                驕傲自滿會失去謙遜，易＂攻乎異端＂。 <br>
            </div>
            <div class="comments">
                "Do not judge so that you will not be judged. For by the standard you judge you will be judged, and the measure you use will be the measure you receive." [Matthew 7:1-2]  
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1 dividerInside">
            <div class="quote_header">
                <div class="quotes">  子曰：＂由！誨汝知之乎？知之為知之，不知為不知，是知也。＂     </div>      <div class='info_zh'>  為政十七 </div>
            </div>

            <div class="comments"> 子路是孔子的同鄉，小孔子九歲。年輕時頭插野雞毛，身披野豬皮，仗劍天涯，自詡俠客。孔子欲招其作弟子。子路謝絕，＂南山有竹，砍下來當劍，可以射穿犀牛皮。＂自喻南山竹，品質很好，不需要後天打磨 [學習]。孔子對曰，＂若削尖竹子，後接羽毛，那不是更有威力？＂子路深以為然，立即拜師孔子。 <br>
            子路性格爽直，求知耐心不足，孔子教導他勇於 [承認] 面對自己所未知的 [戒驕躁，守謙遜]。
            </div>

            <div class="divider"> </div>													
            <div class="comments">
                <sup>1</sup> At that time the disciples came to Jesus saying, "Who is the greatest in the kingdom of heaven?" <sup>2</sup> He called a child, had him stand among them, <sup>3</sup> and said, "I tell you the truth, unless you turn around and become like little children, you will never enter the kingdom of heaven! <sup>4</sup> <span class="color2"> Whoever then humbles himself like this little child is the greatest in the kingdom of heaven. </span><sup>5</sup> And whoever welcomes a child like this in my name welcomes me." [Matthew 18:1-5]
            </div>
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes">  子張學干祿。子曰：＂多聞闕疑，慎言其餘，則寡尤；多見闕殆，慎行其餘，則寡悔。言寡尤，行寡悔，祿在其中矣。＂ </div>      <div class='info_zh'>  為政十七 </div>
            </div>
            <div class="comments"> 子張請教求仕。孔子說，＂積極問訪以減少 [為仕、施政] 疑慮，對於留存的疑慮，謹慎發言以減少錯誤；實地考察反復驗證 [以減少擔心]，對於留存的不確定的政事提案，謹慎處置以減少後悔。言語適當，行為得體，可以為仕。 <br>
            子路性格爽直，求知耐心不足，孔子教導他勇於 [承認] 面對自己所未知的 [戒驕躁，守謙遜]。
            </div>
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 夙兴夜寐，勿忝爾所生。</div> <div class='info_zh'>  詩經．小雅．小宛 </div>
            </div>
            <div class="comments">  朝曦之間，短暫一生，<br>不要讓父母、祖先蒙羞。
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 子曰：＂非其鬼而祭之，諂也。見義不為，無勇也。＂</div>  <div class='info_zh'>  為政二十四 </div>
            </div>
            <div class="comments">  [領導者] 祭奠別國的先人，是諂媚。見義不為，是懦夫。
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 子曰：＂事父母幾諫。見志不從，又敬不違，勞而不怨。＂</div> <div class='info_zh'>  里仁十八 </div>
            </div>
            <div class="comments"> 父母有過錯，委婉勸阻。若父母不從，不要勉強，尊重其決定。[私下] 積極彌補父母的過錯，不要抱怨。 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
            <div class="quotes"> 曾子曰：＂可以託六尺之孤，可以寄百里之命，臨大節而不可奪也。君子人與？君子人也。＂</div>  <div class='info_zh'>  泰伯六 </div>
            </div>
            <div class="comments"> 君子，可以託付年少的孤兒，可以負責國家的命脈，重大抉擇前保持操守。 </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 曾子曰：＂士不可以不弘毅，任重而道遠。仁以為己任，不亦重乎？死而後已，不亦遠乎？＂</div>  <div class='info_zh'>  泰伯七 </div>
            </div>
            <div class="comments"> 士，要有遠大志向與堅毅品志。以行仁作為己任，貫穿一生。 </div>
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 子曰：＂夫仁者，己欲立而立人，己欲達而達人。能近取譬，可謂仁之方也已。＂</div>  <div class='info_zh'>  雍也三十 </div>
            </div>
            <div class="comments"> 所謂仁，自己想成功時先幫別人成功，自己想得到時先幫別人得到。 </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 子曰：＂智者樂水，仁者樂山；智者動，仁者靜；智者樂，仁者壽。＂</div>  <div class='info_zh'>  雍也二十三 </div>
            </div>
            <div class="comments"> 智者善於處理動態的局面，而仁者能動能靜。 </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="quote_header">
                <div class="quotes"> 宰我問曰：＂仁者，雖告之曰，井有仁焉，其從之也？＂子曰：＂何為其然也？君子可逝也，不可陷也；可欺也，不可罔也。＂</div>   <div class='info_zh'>  雍也二十六 </div>
            </div>
            <div class="comments"> ＂有志於仁的人，如被告知井中有仁，會跳井嗎？＂＂怎麼可能？君子 [可能] 會去井旁查看，但不會受騙跳井；可能 [一時] 被欺騙，但能夠明辨是非。＂  </div>
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>35</sup> And one of them, an expert in religious law, asked him a question to test him: <sup>36</sup> <span class="color1">"Teacher, which commandment in the law is the greatest?" </span> <br>
                <sup>37</sup> Jesus said to him, <span class="color2">"'Love the Lord your God with all your heart, with all your soul, and with all your mind.' </span><sup>38</sup> This is the first and greatest commandment. <sup>39</sup> The second is like it: <span class="color2">'Love your neighbour as yourself.'</span> <sup>40</sup> All the law and the prophets depend on these two commandments."<br>
            </div>
            <div class="info">Matthew 22:35-40</div> 
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>15</sup> Then the Pharisees went out and planned together to entrap him [Jesus] with his own words. ... <sup>17</sup> <span class="color1">"Tell us then, what do you think? Is it right to pay taxes to Caesar or not?" </span> <br>
                <sup>18</sup> But Jesus realized their evil intentions and said, "Hypocrites! Why are you testing me? <sup>19</sup><span class="color2"> Show me the coin used for the tax."</span>" So they brought him a denarius. <sup>20</sup> Jesus said to them, <span class="color2">"Whose image is this, and whose inscription?" </span> <sup>21</sup> They replied, "Caesar's." He said to them, <span class="color2">"Then give to Caesar the things that are Caesar's, and to God the things that are God's."</span> <sup>22</sup> Now when they heard this they were stunned, and they left him and went away. <br>
            </div>
            <div class="info">Matthew 22:15-22</div> 
        </div>
    </div>


    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>19</sup> The [Samaritan] woman said to him [Jesus], "Sir, I see that you are a prophet. <sup>20</sup><span class="color1"> Our fathers worshiped on this mountain, and you people [Jews] say that the place where people must worship is in Jerusalem." </span> <sup>21</sup> Jesus said to her, "<span class="color2">Believe me, woman, a time is coming when you will worship the Father neither on this mountain nor in Jerusalem. </span><sup>22</sup> You people worship what you do not know. ... <sup>23</sup> But a time is coming -- and now is here -- when the true worshipers will worship the Father in spirit and truth, ... ,<sup>24</sup><span class="color2"> God is spirit, and the people who worship him must worship in spirit and truth." </span> 
                <div class="info">John 4:19-26</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>23</sup> As he [Jesus] got into the boat, his disciples followed him. <sup>24</sup> And a great storm developed on the sea so that waves began to swamp the boat. But he was asleep. <sup>25</sup> So they came and woke him up saying, <span class="color1">"Lord, save us! We are about to die!" </span> <sup>26</sup> But he said to them, <span class="color2">"Why are you cowardly, you people of little faith?" </span> Then he got up and rebuked the winds and the sea, and it was dead calm. <sup>27</sup> And the mem were amazed and said, <span class="color1">"What sort of person is this? Even the winds and the sea obey him!" </span>  
                <div class="info">Matthew 8:23-27</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>13</sup> Now I am speaking to you Gentiles. Inasmuch then as I am an apostle to the Gentiles, I magnify my ministry <sup>14</sup> in order somehow to make my fellow Jews jealous, and thus save some of them. <sup>15</sup> For if their rejection means the reconciliation of the world, what will their acceptance mean but life from the dead?  
                <div class="info">Romans 11:13-15</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>25</sup> They exchanged the truth of God for a lie and worshiped and served the creation rather than the Creator, who is blessed forever! Amen.  
                <div class="info">Romans 1:25</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                No free government, or the blessings of liberty, can be preserved to any people, but by a firm adherence to justice, moderation, temperance, frugality, and virtue.
                <div class="info">Virginia Constitution, 1776</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                Slavery, like all other gross and powerful forms of wrong which appear directly to human pride and selfishness, when once admitted into the framework of society, has the ability and tendency to beget a character in the whole network of society surrounding it, favorable to its continuance. The very law of its existence is growth and dominion. 
                <div class="info">Frederick Douglass</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                Federalism is the system of government in which sovereignty is constitutionally divided between a central governing authority and constituent political units. It is based upon democratic rules and institutions in which the power to govern is shared between national and state governments, creating a federation.
            </div>
        </div>
    </div>




    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.--That to secure these rights, Governments are instituted among Men, deriving their just powers from the consent of the governed, --That whenever any Form of Government becomes destructive of these ends, it is the Right of the People to alter or to abolish it, and to institute new Government, laying its foundation on such principles and organizing its powers in such form, as to them shall seem most likely to effect their Safety and Happiness. 
            </div>
            <br>
            <div class='color3'>
                我們認為下面這些真理是不言而喻的 : 人人生而平等，造物者賦予他們若干不可剝奪的權利，其中包括生命權、自由權和追求幸福的權利。為了保障這些權利，人類才在他們之間建立政府，而政府之正當權力，是經被治理者的同意而產生的。當任何形式的政府對這些目標具破壞作用時，人民便有權力改變或廢除它，以建立一個新的政府 ;其賴以奠基的原則，其組織權力的方式，務使人民認為唯有這樣才最可能獲得他們的安全和幸福。
                <div class="info"><美國獨立宣言></div> 
            </div>
        </div>
    </div>



    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>13</sup>  But exhort one another every day, as long as it is called “today,” that none of you may be hardened by the deceitfulness of sin. <sup>14</sup> For we have come to share in Christ, if indeed we hold our original confidence firm to the end. 
                <div class="info">Hebrews 3</div> 
            </div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>22</sup> Claiming to be wise, they became fools, <sup>23</sup> and exchanged the glory of the immortal God for images resembling mortal man and birds and animals and creeping things. 
                <br>
                <div class="info">Romans 1</div> 
            </div>

            <div class="comments"> 自詡聰明，他們變得愚蠢，拋棄了對神的敬仰，代之以具體的形象：逃不出死亡的人、飛禽、走獸、爬蟲。</div>
        </div>
    </div>

    <div class="quote_block d-flex">
        <div></div>
        <div class="flex-grow-1">
            <div class="text">
                <sup>18</sup> For the wrath of God is revealed from heaven against all ungodliness and unrighteousness of men, who by their unrighteousness suppress the truth. <sup>19</sup> For what can be known about God is plain to them, because God has shown it to them. 
                <br>
                <div class="info">Romans 1</div> 
            </div>

            <div class="comments"> 神的憤怒將昭示於不虔不義之人－－那些掩蓋真相的罪人。因為神的存在顯而易見，其早已展現給世人。 </div>
        </div>
    </div>




    <br>
    <br>
    <br>
    



  </div>

    <script>

        /* HTMLElement.offsetWidth returns the layout width of an element as an integer.  */
        /* Typically, offsetWidth is a measurement in pixels of the element's CSS width, including any borders, padding, and vertical scrollbars. */
        function countPaws() {
            const divDisplay = document.querySelector("div.dividerInside");
            let wd = divDisplay.offsetWidth;
            wd = Math.floor(wd / 23);
            console.log(wd);
            return wd;
        }

        function drawPaws(item) {
            let num = countPaws();
            for (let i=0; i< num; i++) {
                item.innerHTML += "<span>&#128062;</span>" ;
            }
        }


        function drawDividers() {
            const arr = document.querySelectorAll(".divider");
            for (let divider of arr) {
                drawPaws(divider);
            }
        }

        drawDividers();

    </script>



{% endblock %}
