{% extends "base.html" %}

{% block content %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-2">
                <a href="#christianity">Bible study</a> <br>
                <a href="#confucianism">論語 study</a>
            </div>
            <div class="col-10">
                <h6 class="star-item">Purpose and Method:</h6>
                <p class="ms-3">  
                We help each other to study the text and grow together; 
                After reading, we share thoughts and takeaways.
                </p>

                <h6 class="star-item">Gathering Space:</h6>
                <p class="ms-3">  
                    Clubhouse @suntzu-edu; <br>
                    Club: 回歸經典  
                </p>

            </div>
        </div>
    </div>
    <hr>
    


    <div class="container-fluid mt-5">

        <h5 id="christianity" class="program"> Bible Study (En/Ch)</h5>

        <h6 class="ms-5 star-item">Date & Time:</h6>
        <p class="ms-6">  
            Beijing Sunday 9am - 10am; <br>
            New York Saturday 8pm - 9pm.
        </p>

        <h6 class="ms-5 star-item">Text:</h6>
        <p class="ms-6">  
            <a href="https://www.netbible.org/bible/Matthew+1"> netBible.org </a>  
        </p>

        <h6 class="ms-5 star-item">Current Progress:</h6>
        <p class="ms-6">  
        New Testament - Matthew
        </p>


        <div class="ms-5 star-item">
            <b>Procedure:</b>  <br>
            <ol class="ms-3">
                <li> brief review of last week's Bible study </li>
                <li> 
                    prayer of generosity: <br>
                Father, all that we have, we have received from you. We bring nothing into this world and we take nothing out of it.
                Help us follow the way of Jesus and increase in generosity until it can be said, "there is no one in need among us."
                Free us to be faithful stewards of all our resources: relationships, time, possessions, and money.
                Father, because You are generous, we want to be generous. As Your daughters and sons we want to show the world what You are like. Amen.
                </li>
                <li> reading assigned chapter[s] and verses </li>
                <li> sharing and discussions </li>
                <li>    
                    prayer at the end: <br>
                Our Father in heaven, hallowed be your name. Let your kingdom come, and your will be done, on earth as it is in heaven. Give us this day our daily bread. Forgive us our debts, as we forgive our debtors. Lead us not into temptation, but deliver us from evil. Yours is the kingdom, and the power, and the glory, forever and ever. Amen.  
                <a href="#top">
                <i class="fas fa-chevron-circle-up ms-5 text-success"></i>
                </a>
                </li>

            </ol>
        </div>


        <h5 id="confucianism" class="program mt-5">論語 Study</h5>


        <h6 class="ms-5 star-item">Date & Time:</h6>
        <p class="ms-6">  
        to be decided;
        </p>
        

        <h6 class="ms-5 star-item">Test:</h6>
        <p class="ms-6">  
        文本： <a href="https://ctext.org/analects/zh">中國哲學書電子化計劃</a> 
        </p>

        <h6 class="ms-5 star-item">Current Progress:</h6>
        <p class="ms-6">  
        Chapter 4: 里仁
        </p>


        <div class="ms-5 star-item">
            <b>Procedure:</b>  <br>
            <ol class="ms-3">
                <li> reading assigned chapter[s]</li>
                <li> sharing and discussions 
                <a href="#top">
                <i class="fas fa-chevron-circle-up ms-5 text-success"></i>
                </a>

                </li> 
            </ol>
        </div>

    </div>
{% endblock %}
